* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #090909;
  background: rgb(47, 58, 76);
  background: linear-gradient(
    180deg,
    rgba(47, 58, 76, 1) 18%,
    rgba(39, 45, 52, 1) 30%,
    rgba(47, 48, 44, 1) 84%
  );
  font-family: "Trispace";
}

/* Header */

.header-tools {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  background: #d9d9d98f;
}

.div-box1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 10%;
}

#logoid {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.div-box2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.hr-divisor {
  width: 90%;
  border: 4px solid #989898;
  border-radius: 25px;
}

.section-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 25px;
}

.div-titule {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 25px;
  background: rgb(27, 40, 49);
  background: linear-gradient(
    90deg,
    rgba(27, 40, 49, 1) 18%,
    rgba(14, 22, 33, 0.8211659663865546) 59%
  );
}

.div-epicnotice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
  width: 90%;
}

#epicgamesid {
  width: 420px;
}

.section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 25px;
}

.div-epic {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #090909;
}

.div-epicenotice2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
  width: 90%;
}

#supermeatboyid {
  width: 420px;
}

.section-3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 25px;
}

#warzoneid {
  height: 500px;
  width: 300px;
  object-fit: cover;
}

.div-blogcontainer {
  /* No recuerdo como hacer para invertir lo del flex, duda de Anthony */
  display: flex;
  flex-direction: column;
}

.div-tituleblog {
  background: rgb(27, 40, 49);
  background: linear-gradient(
    90deg,
    rgba(27, 40, 49, 1) 18%,
    rgba(14, 22, 33, 0.8211659663865546) 59%
  );
}

.div-blog {
  background: rgb(92, 105, 116);
  background: linear-gradient(
    142deg,
    rgba(92, 105, 116, 0.9612219887955182) 20%,
    rgba(40, 46, 56, 0.9248074229691877) 57%
  );
}

#halandid {
  height: 500px;
  width: 350px;
  object-fit: cover;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #000000;
  height: 75px;
}

.div-footer1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 20%;
}

#logoid1 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.div-footer2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
}

.div-footer3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 30%;
}

/*Josue Monge R*/

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  font-size: large;
  width: 50%;
}

p,
label,
legend {
  color: white;
}

.div-vvv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.item-margin {
  margin-right: 10px;
  margin-bottom: 10px;
}
