::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(47,58,76);
  background: linear-gradient(180deg, rgba(47,58,76,1) 20%, rgba(39,45,52,1) 41%, rgba(47,48,44,1) 58%);
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 75px;
}

/* Header */

.header-tools {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.div-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  background: #d9d9d98f;
  -webkit-box-shadow: -12px 12px 6px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 12px 6px -8px rgba(0,0,0,0.75);
  box-shadow: -12px 12px 6px -8px rgba(0,0,0,0.75);
}

.div-box1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 10%;
}

#logoid {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.div-box2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.section-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 25px;
}

.div-titule {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 80px;
  border-radius: 25px;
  font-size: 30px;
  background: rgb(27, 40, 49);
  background: linear-gradient(
    90deg,
    rgba(27, 40, 49, 1) 18%,
    rgba(14, 22, 33, 0.8211659663865546) 59%
  );
  -webkit-box-shadow: -18px 15px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -18px 15px 14px -4px rgba(0,0,0,0.75);
  box-shadow: -18px 15px 14px -4px rgba(0,0,0,0.75);
}

.div-epicnotice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  font-size: 25px;
  margin-top: 50px;
}

.div-epicnotice p{
  width: 500px;
  line-height: 1.5;
}

#epicgamesid {
  width: 520px;
  -webkit-box-shadow: -26px 26px 31px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -26px 26px 31px -8px rgba(0,0,0,0.75);
  box-shadow: -26px 26px 31px -8px rgba(0,0,0,0.75);
}

.hr-divisor {
  width: 90%;
  border: 4px solid #989898;
  border-radius: 25px;
  -webkit-box-shadow: -24px 25px 31px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -24px 25px 31px -8px rgba(0,0,0,0.75);
  box-shadow: -24px 25px 31px -8px rgba(0,0,0,0.75);
}

.section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 25px;
}

.div-epic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 25px;
  font-size: 30px;
  background-image: url('images/Razer.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.div-epicenotice2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 25px;
  margin-top: 50px;
  width: 90%;
}

.div-epicenotice2 p {
  width: 500px;
  line-height: 1.3;
}

#supermeatboyid {
  width: 420px;
}

.section-3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 85%;
  height: 850px;
  margin: 25px;
}

#warzoneid {
  height: 850px;
  width: 300px;
  object-fit: cover;
}

.div-blogcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 10px;
}

.div-tituleblog {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 70px;
  background: rgb(27, 40, 49);
  background: linear-gradient(
    90deg,
    rgba(27, 40, 49, 1) 18%,
    rgba(14, 22, 33, 0.8211659663865546) 59%
    );
    border-radius: 25px;
  }

.div-blog {
  display: flex;
  flex-direction: row;
  height: 200px;
  background: rgb(92, 105, 116);
  background: linear-gradient(
    142deg,
    rgba(92, 105, 116, 0.9612219887955182) 20%,
    rgba(40, 46, 56, 0.9248074229691877) 57%
  );
}

.div-bloginfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}

.div-blog h3 {
  font-size: 31px;
}

.div-blog p {
  font-size: 20px;
}

.div-blog img {
  padding: 5px;
  width: 100px;
  height: 100px;
}

#halandid {
  height: 850px;
  width: 350px;
  object-fit: cover;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #000000;
  height: 75px;
  width: 100%;
  padding: 0 20px;
  position: absolute;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.div-footer1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

#logoid1 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.div-footer2 {
  display: flex;
  align-items: center;
  width: 20%;
}

.div-footer3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 30%;
}

.div-footer2 a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
}

a i {
  font-size: 24px;
  margin-right: 10px;
  color: #6c757d;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
/*Josue Monge R*/

input {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(27, 40, 49, 1) 18%,
    rgba(14, 22, 33, 0.8211659663865546) 59%
  );
  color: white;
}

textarea {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(27, 40, 49, 1) 18%,
    rgba(14, 22, 33, 0.8211659663865546) 59%
  );
  text-align: center;
  color: white;
}


input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  font-size: large;
  width: 50%;
}

p,
label,
legend {
  color: white;
}

.div-vvv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.item-margin {
  margin-right: 10px;
  margin-bottom: 10px;
}




@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .div-footer1,
  .div-footer2,
  .div-footer3 {
    width: 100%;
  }
}